
body{
	font: 300 1rem/1rem "Helvetica Neue", Helvetica, Arial,STHeiTi, sans-serif, "microsoft yahei";
}

/* 公用项目字体引用 */
@font-face {
	font-family: "iconfontcom";
	src: url('/static/fonts/common/1.0.0/iconfont.eot');
	src: url('/static/fonts/common/1.0.0/iconfont.eot#iefix') format('embedded-opentype'),
		url('/static/fonts/common/1.0.0/iconfont.woff') format('woff'),
		url('/static/fonts/common/1.0.0/iconfont.ttf') format('truetype'),
		url('/static/fonts/common/1.0.0/iconfont.svg') format('svg');
}
.iconfontcom {
	font-family: iconfontcom;
	/* font-size: 16px; */
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
  